:root {
    /* Fonts */
    --font-body: 'Times New Roman', serif;

    /* Colors */
    --primary: rgb(79, 123, 90);
    --secondary: rgb(233, 172, 66);
    --tertiary-light: rgb(237, 230, 196);
    --tertiary-dark: rgb(211, 185, 148);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}