@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;500;700&display=swap');

:root {
    /* Fonts */
    --font-body: 'Roboto', sans-serif;
    --font-italic: 'Dancing script', cursive;

    /* Colors */
    --primary: #EB665D;
    --secondary: #ECBDAD;
    --tertiary: #70A19B;
    --grey: #262626;
    --grey-shadow: #161616;
    --ice: #E8E7E2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body);
    color: var(--ice);
}