@font-face {
    font-family: Gyahegi;
    src: url(./Gyahegi.otf);
}

:root {
    /* Fonts */
    --font-body: 'Times New Roman', serif;
    --font-italic: 'Gyahegi', cursive;

    /* Colors */
    /* --primary: #EB665D; */
    --secondary: #ECBDAD;
    --tertiary: #70A19B;
    --grey: #262626;
    --grey-shadow: #161616;
    --ice: #E8E7E2;

    --grey-placeholder: #B9B9B9;
    --bg-cream: #EAE6DD;
    --primary: #A00506;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body);
    color: var(--ice);
}